/* Global styles for responsiveness */
.outermost-container {
  padding: 50px;
  text-align: center;
  margin-bottom: 50px;
}

.outer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.inner-container {
  width: 300px;
  height: 300px;
  text-align: center;
  padding: 20px;
  margin: 10px;
  background-size: cover; /* Make the background image cover the container */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
}

/* Styles for different feature sections */
.healthcare {
  margin-left: 300px;
}

.wealthcare {
  margin-right: 300px;
}

/* Styles for title */
.title {
  margin-top: 100px;
  margin-bottom: 50px;
  color: #337ccf;
  font-family: Arial, Helvetica, sans-serif;
}

/* Button styles */
button {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 150px; /* Set the button size to 80x80 */
  height: 40px; /* Set the button size to 80x80 */
  border-radius: 10px; /* Add a border radius of 10px */
  background-color: #337ccf;
  color: white;
  font-family: Arial, Helvetica, sans-serif; /* Change the font-family */
  transition: all 0.3s; /* Add transition for smooth hover effect */
}

/* Button hover styles */
button:hover {
  background-color: white;
  color: #337ccf;
  border: 2px solid #337ccf; /* Add a border and change its color on hover */
}

.feature-description {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #337ccf;
  font-family: Arial, Helvetica, sans-serif;
}

/* Media Query for responsiveness */
@media (max-width: 768px) {
  .inner-container {
    width: 100%;
  }
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #007bff; /* Blue background color */
  color: #fff; /* White text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3; /* Darker blue color on hover */
}
