/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #337ccf;
  color: white;
  padding: 25px 100px;
}

.logo img {
  max-width: 100px; /* Adjust the width as needed */
}

.links {
  display: flex; /* Make the links container a flex container */
  align-items: center; /* Align links vertically */
}

.links a.nav-button {
  text-decoration: none;
  color: white;
  font-size: 16px;
  margin-left: 20px; /* Adjust the spacing between links */
  transition: all 0.3s ease;
}

.links a.nav-button:hover {
  color: #337ccf;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    text-align: center;
    padding: 20px 0; /* Increase the padding to adjust the height */
  }

  .links {
    margin-top: 20px; /* Adjust the spacing between logo and links */
  }

  .links a.nav-button {
    margin: 10px 0;
    margin-left: 0; /* Reset the left margin for mobile view */
  }
}
